{% extends 'base.html.twig' %}

{% block title %}Make_Sense - Connexion{% endblock %}

{% block body %}

    <div id="home-login" class="bg-image">
     
        <div class="container align-items-center justify-content-center h-100 text-white">
        
            <div class= "login-center col-3">
                <h1 class= "mt-5 text-center">Connexion</h1>
                <h6 class= "mt-3 text-center">Se connecter pour continuer</h6>
            
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        Veuillez remplir les 2 champs correctement !
                    </div>
                {% endif %}
                <div class="row ">
                    <form class="" action="{{ path ('app_login') }}" method="post">
                        <div class="mt-5 ">
                            <label for="username" class="form-label">Adresse email</label>
                            <input type="email" class="form-control" id="username" name="_username" placeholder="exemple@makesense.fr" value="{{ last_username}}">
                        </div>
                        <div class=" mt-5 ">
                            <label for="Password" class="form-label">Mot de passe</label>
                            <input type="password" class="form-control" id="password" name="_password" placeholder="********">
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="_target_path" value="/dashboard">
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-danger mt-5 col-6">Se connecter</button>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
