{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container">
        <h1 class="mt-3">Modification de l'utilisateur</h1>
        {{ form(form) }}
    </div>
{% endblock %}